<div class='container'>
  <div class='row'>
    <div class='col-xs-12'>
      <h2 id="title">Campfire Friend Network</h2>
    </div>
  </div>
  <div class='row'>
    <div class='col-xs-4'>
      <ul>
        {{#each campfire in model}}
          {{#unless campfire.isNew}}
            <li>
              {{#link-to 'campfire' campfire}}{{campfire.name}}{{/link-to}}
            </li>
          {{/unless}}
        {{/each}}
      </ul>
    </div>
    <div class='col-xs-8'>
      {{outlet}}
    </div>
  </div>
</div>
